{% include "header.html" %}

<link rel="stylesheet" href="/static/css/home.css" type="text/css" media="all" />

<div id="content">
    {% include "masthead.html" %}
    <section id="main-content-area" class="container" role="main">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs columns">
                <li>FunPDBe</li>
                <li>
                    <span class="show-for-sr">Current: </span> Account details
                </li>
            </ul>
        </nav>

        <div class="container">
            <div class="row">
                <h2>
                    Welcome, {{ user_name }} to your FunPDBe account
                </h2>
            </div>


            <div id="current-groups" class="row">
                {% if user_groups%}
                    <h3>You are registered for the following resources:</h3>
                    <table class="table table-hover">
                        {% for resource in user_groups %}
                        <tr>
                            <td>{{ resource }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <p class="well">
                        <i class="icon icon-generic" data-icon="i"></i>
                        These are the resources you have permission to submit to or view. If you would like to request access
                        to additional resources, please indicate it below at the corresponding section.
                    </p>
                {% else %}
                    <h3>
                        <i class="icon icon-generic" data-icon="l"></i>
                        You are not yet registered for any resource
                    </h3>
                    <p class="well">
                        <i class="icon icon-generic" data-icon="l"></i>
                        Please be advised that your request might be pending (see below)
                    </p>
                {% endif %}
            </div>

            <div id="pending-groups" class="row">
                {% if user_pending %}
                    <h3>You have requested access to the following resources:</h3>
                    <form method="post" action="{% url 'home' %}">
                        {% csrf_token %}
                        <table class="table table-hover">
                            {% for pending in user_pending %}
                            <tr>
                                <td>{{ pending }}</td>
                                <td>
                                    <button class="btn btn-default" type="submit" name="remove-pending" value="{{pending}}">
                                        <i class="icon icon-functional" data-icon="d"></i> Cancel
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </form>
                    <p class="well">
                        <i class="icon icon-generic" data-icon="l"></i>
                        Please be advised that access permissions are granted after a manual review process
                    </p>
                {% endif %}
            </div>

            <div id="additional-groups" class="row">
                {% if user_request %}
                    <h3>Please select all resources you would like to contribute to:</h3>
                    <form action="{% url 'home' %}" method="post" class="form">
                        {% csrf_token %}
                        {% for partner in user_request %}
                            <div class="form-check">
                                <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="{{partner}}" value="{{partner}}">
                                {{partner}}
                                </label>
                            </div>
                        {% endfor %}
                        <input type="submit" value="Submit" class="btn btn-default">
                    </form>
                {% endif %}
            </div>

            <div id="new-groups" class="row">
                <h4>Additional resources</h4>
                <p>
                    If you would like to suggest additional resources, please get in touch with an
                    <a href="mailto:mvaradi@ebi.ac.uk">administrator <i class="icon icon-generic" data-icon="E"></i></a> or
                    use the form below:
                </p>
                <p class="well">
                        <i class="icon icon-generic" data-icon="l"></i>
                        Please be advised that newly registered resources first have to be approved by an admin
                    </p>
                <form action="{% url 'home' %}" method="post" class="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="form-label" for="resource_name">Name of the resource</label>
                        <input class="form-control" id="resource_name" type="text" name="resource_name" placeholder="Please provide the name of the resource" required>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Resource URL</label>
                        <input class="form-control" type="url" placeholder="Please provide the URL of the resource" name="resource_url" required>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Resource owner</label>
                        <input class="form-control" type="text" placeholder="Please type in the owner of the resource" name="resource_owner" required>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Email address of owner</label>
                        <input class="form-control" type="email" name="owner_email" placeholder="Please provide the email address of the owner" required>
                        <small id="emailHelp" class="form-text text-muted">We'll never share this email with anyone else.</small>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Brief description</label>
                        <textarea class="form-control" placeholder="Please describe this resource briefly" name="resource_description" required></textarea>
                    </div>

                    <input type="submit" value="Submit" class="btn btn-default">
                </form>
                <br>
                <br>
            </div>





        </div>

    </section>
</div>

{% include "footer.html" %}