{% include "header.html" %}

<link rel="stylesheet" href="/static/css/home.css" type="text/css" media="all" />

<div id="content">
    {% include "masthead.html" %}
    <section id="main-content-area" class="container" role="main">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs columns">
                <li>FunPDBe</li>
                <li>
                    <span class="show-for-sr">Current: </span> Account details
                </li>
            </ul>
        </nav>

        <div class="container">
            <div class="row">
                <h2>
                    Welcome, {{ account.user_name }} to your FunPDBe account
                </h2>
            </div>


            <div id="current-groups" class="row">
                {% if account.user_groups%}
                    <h3>You are registered for the following resources:</h3>
                    <ul>
                    {% for resource in account.user_groups %}
                        <li>{{ resource }}</li>
                    {% endfor%}
                    </ul>
                {% else %}
                    <h3>You are not yet registered for any resource</h3>
                {% endif %}
            </div>

            <div id="additional-groups" class="row">
                <h3>Please select all resources you would like to contribute to:</h3>
                {% for partner in available_partners %}
                    {{ partner }}
                {% endfor %}
            </div>





        </div>

    </section>
</div>

{% include "footer.html" %}