{% include "header.html" %}

<div id="content">
    <div data-sticky-container>
        <header id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="main-content-area:top" data-btm-anchor="main-content-area:bottom">
            <div class="masthead-inner container">
                <div class="columns medium-12" id="local-title">
                    <h1>FunPDBe User Login</h1>
                </div>
                <nav>
                    <ul id="local-nav" class="dropdown menu float-left" data-description="navigational">
                        <li><a href="{% url 'login' %}"><i class="icon icon-functional" data-icon="l"></i> Login</a></li>
                        <li><a href="{% url 'register' %}"><i class="icon icon-functional" data-icon="7"></i> Register</a></li>
                        <li><a href="#"><i class="icon icon-generic" data-icon="?"></i> Help</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>

    <section id="main-content-area" class="container" role="main">
        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs columns">
                <li><a href="">FunPDBe</a></li>
                <li>
                    <span class="show-for-sr">Current: </span> Login
                </li>
            </ul>
        </nav>

        <div class="container">
            <div>
                {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                {% if next %}
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                {% else %}
                <p>Please login to see this page.</p>
                {% endif %}
                {% endif %}

                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>

                    <input type="submit" value="login" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>

    </section>
</div>

{% include "footer.html" %}