<div data-sticky-container>
    <header id="masthead" class="masthead" data-sticky data-sticky-on="large" data-top-anchor="main-content-area:top" data-btm-anchor="main-content-area:bottom">
        <div class="masthead-inner container">
            <div class="columns medium-12" id="local-title">
                <h1>FunPDBe</h1>
            </div>
            <nav>
                <ul id="local-nav" class="dropdown menu float-left" data-description="navigational">
                    {% if user.is_authenticated  %}
                        <li><a href="{% url 'logout' %}"><i class="icon icon-generic" data-icon="#"></i> Logout</a></li>
                        <li><a href="{% url 'home' %}"><i class="icon icon-functional" data-icon="s"></i> Account details</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}"><i class="icon icon-functional" data-icon="l"></i> Login</a></li>
                        <li><a href="{% url 'register' %}"><i class="icon icon-functional" data-icon="7"></i> Register</a></li>
                    {% endif %}
                    <li><a href="{% url 'about' %}"><i class="icon icon-generic" data-icon="?"></i> About</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>